# coding: utf-8

"""
    X-Road Security Server Admin API

    X-Road Security Server Admin API. Note that the error metadata responses described in some endpoints are subjects to change and may be updated in upcoming versions.  # noqa: E501

    OpenAPI spec version: 1.0.31
    Contact: info@niis.org
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from xrdsst.api_client.api_client import ApiClient


class DiagnosticsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_global_conf_diagnostics(self, **kwargs):  # noqa: E501
        """view global configuration diagnostics information  # noqa: E501

        <h3>Administrator views the global configuration diagnostics information.</h3>  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_global_conf_diagnostics(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: GlobalConfDiagnostics
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_global_conf_diagnostics_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_global_conf_diagnostics_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_global_conf_diagnostics_with_http_info(self, **kwargs):  # noqa: E501
        """view global configuration diagnostics information  # noqa: E501

        <h3>Administrator views the global configuration diagnostics information.</h3>  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_global_conf_diagnostics_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: GlobalConfDiagnostics
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_global_conf_diagnostics" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth']  # noqa: E501

        return self.api_client.call_api(
            '/diagnostics/globalconf', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GlobalConfDiagnostics',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_ocsp_responders_diagnostics(self, **kwargs):  # noqa: E501
        """view ocsp responders diagnostics information  # noqa: E501

        <h3>Administrator views the ocsp responders diagnostics information.</h3>  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_ocsp_responders_diagnostics(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: list[OcspResponderDiagnostics]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_ocsp_responders_diagnostics_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_ocsp_responders_diagnostics_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_ocsp_responders_diagnostics_with_http_info(self, **kwargs):  # noqa: E501
        """view ocsp responders diagnostics information  # noqa: E501

        <h3>Administrator views the ocsp responders diagnostics information.</h3>  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_ocsp_responders_diagnostics_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: list[OcspResponderDiagnostics]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_ocsp_responders_diagnostics" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth']  # noqa: E501

        return self.api_client.call_api(
            '/diagnostics/ocsp-responders', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[OcspResponderDiagnostics]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_timestamping_services_diagnostics(self, **kwargs):  # noqa: E501
        """view timestamping services diagnostics information  # noqa: E501

        <h3>Administrator views the timestamping services diagnostics information.</h3>  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_timestamping_services_diagnostics(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: list[TimestampingServiceDiagnostics]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_timestamping_services_diagnostics_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_timestamping_services_diagnostics_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_timestamping_services_diagnostics_with_http_info(self, **kwargs):  # noqa: E501
        """view timestamping services diagnostics information  # noqa: E501

        <h3>Administrator views the timestamping services diagnostics information.</h3>  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_timestamping_services_diagnostics_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: list[TimestampingServiceDiagnostics]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_timestamping_services_diagnostics" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth']  # noqa: E501

        return self.api_client.call_api(
            '/diagnostics/timestamping-services', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[TimestampingServiceDiagnostics]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
